{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "useTabs": false,
    "bracketSameLine": false,
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "singleAttributePerLine": true
}
