:root {
    --background-color: rgba(30, 30, 30, 0.9);
    --lighter-background-color: rgba(50, 50, 50, 0.3);
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    height: 100%;
    min-height: 100%;
}

.title {
    width: fit-content;
    text-align: center;
    margin: 0;
    padding: 0.25vh 0.5vw;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

.menu:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.back {
    grid-column: 1 / 2;
    justify-self: right;
    align-self: center;
    margin-right: 10rem;
}

.settings {
    grid-column: 3 / 4;
    margin-left: 10rem;
}

.header_child {
    background-color: var(--lighter-background-color);
    padding: 0.5rem;
    justify-items: center;
    align-content: center;
}

.sidebar {
    height: 100vh;
    width: 30vw;
    position: fixed;
    top: 0;
    background-color: rgba(20, 20, 20, 1);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar_title_wraper {
    display: grid;
    grid-template-columns: 5fr auto;
    justify-items: center;
    align-items: center;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    padding-right: 1.5vw;
    border-bottom: 0.5vh solid #fefefe;
    margin-bottom: 2vh;
}

#sidebar_title {
    grid-column: 1;
}

.close_button {
    grid-column: 2;
}

main {
    grid-area: main;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.sidebar_visible {
    right: 0;
}

.sidebar_closed {
    left: -2000vw; /* off-screen */
}

.content_settings_visibile {
    opacity: 0.2;
}

.header_grid_container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: var(--background-color);
    padding-top: 0.5%;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 2vh;
}

.gender {
    display: grid;
    grid-template-columns: 1fr auto 0.75fr;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 2vh;
}

.tts {
    display: grid;
    grid-template-columns: 1fr auto 0.75fr;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 2vh;
}

.grid_container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}

.header {
    grid-area: header;
}

footer {
    background-color: lightgray;
    text-align: left;
    grid-area: footer;
    padding-left: 5rem;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

h2 {
    font-size: 20pt;
}
