body {
    margin: 0;
    border: 0;
    padding: 0;
    background-image: url(../benni_A_background_image_where_the_outside_is_black_and_the_col_483af2b2-4aa8-416c-8d85-fe8337cd8892.png);
    background-repeat: no-repeat;
    background-size: auto;
}
